**/cache/
venvDir/
.virtual_documents/
**/.ipynb_checkpoints
.direnv/
.envrc
**/__pycache__/
**/Untitled.ipynb
data/
src
src2
osmnx-examples
images
html
docs/gpx
docs/osmnx
docs/PlanetaryComputing
docs/Learning
docs/Processing/City/data
